html,body {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	height:100%;
}

body {
	background-color: #FFF;
	color: #000;
}

h1,h2,h3 {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
}

hr.small-hr {
	margin: 12px 0;
}

#application { }

#application-view {
	margin: 0px 5%;
	padding: 0px 14px;
	padding-bottom:40px;
	border-left: 1px #eee solid;
	border-right: 1px #eee solid;
}

#top-navbar {
	background-color: #FFF;
	border-bottom: 1px solid #eee;
}

#top-navbar a {
	color: #333;
}

.page-header {
	margin: 20px 0px 10px;
	color: #333;
	border-bottom: 0px;
}

.page-header-hr {
	margin: 20px 0px 10px;
	color: #333;
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}

.page-header h1,
.page-header h2,
.page-header h3,
.page-header-hr h1,
.page-header-hr h2,
.page-header-hr h3 {
	margin-top: 0;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.objective-progress span.progress-text {
	padding: 0px 2px;
}

a:link .glyphicon, a:visited .glyphicon {
	color: black;
	text-decoration: none;
}

a:hover .glyphicon {
	color: #2a6496;
	text-decoration: none;
}

#profile-options ul li span.glyphicon.pull-right {
	margin-top: 2px;
}

/**
 Objective
 **/

.objective-goals-header h3 {
	margin: 0;
	padding: 0;
}


.objective-goals h3 {
	margin: 1px 0;
	padding: 0;
}

.objective-goals h4 {
	margin: 0;
	padding: 0;
}

.objective-goal-number-container {
	text-align: center;
}

h1.objective-goal-number {
	padding: 0;
	margin: 0;
}

h3.objective-goal-number {
	padding: 0;
	margin: 0;
}

.objective-options h1 span {
	padding: 8px 8px 0px 8px;
}

.objective-options h3 span {
	margin: 0;
	padding: 2px 4px 0px 4px;
}

.objective-options h4 span {
	margin: 0;
	padding: 0px 4px 0px 4px;
}

.objectives-secondary-column {
	height: 600px;
	padding: 0;
	margin: 0;
	background-image: url('../images/travel-demo.jpg');
	background-size: cover;
}

.objectives-secondary-column .gradient-background {
	height: 400px;
	width: 100%;
	margin-top:200px;
	/*background: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1));*/

	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);   /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}

/**
 Querent
 **/

#application-view .jumbotron {
	margin: 30px -15px;
	position:relative;
	padding:30px 15px;
	color:#cdbfe3;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,.1);
	background-color:#6f5499;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
	background-image:-webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
	background-image:-o-linear-gradient(top,#563d7c 0,#6f5499 100%);
	background-image:linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
	background-repeat:repeat-x
}

#application-view .jumbotron .h1 {
	font-size:48px;
	color: #FFF;
}

#application-view .jumbotron .input-lg {
	height: 91px;
	padding: 10px 16px;
	font-size: 48px;
	line-height: 1.33;
	border-radius: 6px;
	margin-bottom: 16px;
}

#application-view .submit {
	text-align: center;
}

#application-view .submit .btn {
	font-size: 24px;
}

/**
 Footer 
 **/

#application footer {
	padding-top:20px;
	padding-bottom:20px;
	color:#777;
	text-align:center;
	border-top:1px solid #e5e5e5;
}

#application footer .footer-links {
	padding-left:0;
	margin-top:20px;
	color:#999;
}

#application footer .footer-links li {
	display:inline;
	padding:0 2px;
}

#application footer .footer-links li:first-child{
	padding-left:0;
}

#application footer .footer-links li + li::before {
    content: " | ";
}

/**
 Media Alterations
 **/
@media (max-width: 767px) {
	.objectives-secondary-column {
		display: none;
	}
}

/* Phones */
@media (max-width: 560px) {
	#application-view {
		margin: 0;
	}
}
