<div ng-controller="ProfileController as profileCtrl">
	<div class="container-fluid">

		<div class="page-header-hr">
			<h1>My Objectives</h1>
		</div>

		<div ng-show="profileCtrl.hasObjectives()">
			
			<!-- List all objectives and progress -->
			<div class="row col-wrap panel">
				<div class="col-sm-6" ng-repeat="objective in profileCtrl.getObjectives()">

					<div class="row col-wrap">
						<div class="col-sm-10">
							<h3>
								{{objective.get('name')}}
							</h3>
						</div>

						<div class="col-sm-2">
							<h3>
								<small>
									<a role="menuitem" tabindex="-1" href="#/objective/{{objective.id}}">
										<span class="glyphicon glyphicon-pencil pull-right"></span>
									</a>
								</small>
							</h3>
						</div>
					</div>

					<div class="progress objective-progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{objective.getProgress()}}" 
							aria-valuemin="0" aria-valuemax="100" style="width: {{objective.getProgress()}}%;">
							<span class="progress-text">{{objective.getProgress()}}%</span>
						</div>
					</div>

					<div class="text-center">
						<div ng-show="objective.hasTasks()">
							<h5>{{objective.countTasks({'complete':true})}} / {{objective.countTasks()}} Goals Met</h5>
						</div>
						<div ng-hide="objective.hasTasks()">
							<h5>No Tasks</h5>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div ng-hide="profileCtrl.hasObjectives()" class="well well-lg">

			<div class="row col-wrap">
				<div class="col-sm-5 col-sm-offset-2">
					You don't seem to have any objectives yet!<br /><br />
					Would you like to take the time to create one?
				</div>

				<div class="col-sm-2">
					<button ng-click="profileCtrl.createObjective()"
						type="button" class="btn btn-default btn-md">
						Create Objective
					</button>
				</div>
			</div>

		</div>

	</div>
</div>