<div id="edit-task-modal" class="modal fade" ng-init="editTaskFormType = 'simple'">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				
				<h4 class="modal-title">Add Goal &raquo; {{objCtrl.objective.get('name')}}</h4>
			
			</div>
			<div class="modal-body">

				<div class="form-group">
					<input ng-model="taskCtrl.task.name" type="text" placeholder="" class="form-control">
				</div>

				<div ng-show="editTaskFormType == 'detailed'">
					<div class="form-group">
						<textarea ng-model="taskCtrl.task.description" type="text" rows="3"
							placeholder="Description" class="form-control"></textarea>
					</div>

					<div class="well well-sm">
						<div class="row col-wrap">
							<div class="col-sm-4">
								<label for="time-to-completion">Time To Completion</label>
							</div>
							<div class="col-sm-8">
								<input type="text" placeholder="time" class="form-control" name="time-to-completion">
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">

				<div class="pull-left btn-group" data-toggle="buttons">
					<label class="btn btn-primary active">
						<input type="radio" ng-model="editTaskFormType"
							name="options" value="simple" input-detect-change checked> Simple
					</label>
					<label class="btn btn-primary">
						<input type="radio" ng-model="editTaskFormType"
							name="options" value="detailed" input-detect-change> Detailed
					</label>
				</div>

				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				
				<button ng-click="taskCtrl.submitTask()"
					type="button" class="btn btn-primary">Add Goal</button>
			
			</div>
		</div>
	</div>
</div>