<div ng-controller="ObjectiveController as objCtrl" class="row">
	<edit-task-modal></edit-task-modal>

	<div class="container-fluid objectives-main-column col-xs-12 col-sm-9">

		<div class="page-header-hr row col-wrap">
			<div class="col-xs-8 col-sm-8 col-md-9">
				<h1>{{objCtrl.objective.get('name')}}</h1>
			</div>

			<div class="col-xs-4 col-sm-4 col-md-3 objective-options">
				<h1>
					<small>
						<a>
							<span class="glyphicon glyphicon-remove pull-right"></span>
						</a>
					</small>
					<small>
						<a>
							<span class="glyphicon glyphicon-pencil pull-right"></span>
						</a>
					</small>
					<small>
						<a>
							<span class="glyphicon glyphicon-eye-open pull-right"></span>
						</a>
					</small>
				</h1>
			</div>
		</div>

		<div ng-show="objCtrl.objective.hasTasks()">
			
			<!-- Show full progress -->
			<div class="row col-wrap objective-progress-header">
				<div class="col-xs-6 col-sm-5">
					<h3>Progress</h3>
				</div>
				<div class="col-xs-6 col-sm-7">
					<h3 class="pull-right">
						<small>
							Est. Completion: May 2016
						</small>
					</h3>
				</div>
			</div>
			
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="25" 
					aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
					25%
				</div>
			</div>
			<br />

			<!-- List all objectives and progress -->
			<div class="row col-wrap objective-goals-header">
				<div class="col-xs-6 col-sm-5">
					<h3>Current Goals</h3>
				</div>
				<div class="col-xs-6 col-sm-7">
					<h3 class="pull-right">
						<small>
							18 of 34 completed
						</small>
					</h3>
				</div>
			</div>

			<hr class="small-hr" />

			<div class="panel objective-goals" ng-repeat="(key, task) in objCtrl.objective.getTasks()">
				<div class="row col-wrap">

					<!-- First Row -->
					<div class="col-xs-2 col-md-1 objective-goal-number-container">

						<!--<div ng-show="{{task.isComplete()}}">
							<span class="glyphicon glyphicon-ok"></span>
						</div>

						<div ng-hide="{{task.isComplete()}}">
							<button ng-click="task.set('complete', true)">
								<span class="glyphicon glyphicon-unchecked"></span>
							</button>
						</div>-->

						<h1 ng-if="!key" class="objective-goal-number">{{key+19}}</h1>

						<h3 ng-if="key" class="objective-goal-number">{{key+19}}</h3>

					</div>

					<div class="col-xs-10 col-md-11">
						<div class="row col-wrap">
							<div class="row">
								<div class="col-xs-9 col-sm-9">
									<h3 ng-if="!key">
										{{task.get('name')}}
									</h3>

									<h4 ng-if="key">
										{{task.get('name')}}
									</h4>
								</div>

								<div class="col-xs-3 col-sm-3 objective-options">
									<h3 ng-if="!key">
										<small>
										<a>
											<span class="glyphicon glyphicon-remove pull-right"></span>
										</a>
										</small>
										<small>
											<a>
												<span class="glyphicon glyphicon-pencil pull-right"></span>
											</a>
										</small>
										<small>
											<a>
												<span class="glyphicon glyphicon-plus pull-right"></span>
											</a>
										</small>
									</h3>

									<h4 ng-if="key">
										<small>
										<a>
											<span class="glyphicon glyphicon-remove pull-right"></span>
										</a>
										</small>
										<small>
											<a>
												<span class="glyphicon glyphicon-pencil pull-right"></span>
											</a>
										</small>
										<small>
											<a>
												<span class="glyphicon glyphicon-plus pull-right"></span>
											</a>
										</small>
									</h4>
								</div>
							</div>

							<!-- Second Row -->
							<div class="row">
								<div class="col-sm-11"><!--<div class="col-sm-7" ng-show="task.get('description')">-->
									<!--{{task.get('description')}}-->
									A description will appear here. It may or may not be longer, shorter, or exactly the same length as this text provides.
								</div>
							</div>

							<!-- Third-plus rows (Tasks) -->
							<div class="row">
								<div class="col-xs-1" style="text-align:center">
									<input type="checkbox"></input>
								</div>
								<div class="col-xs-8">
									<strong>This Is A Task</strong>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-1" style="text-align:center">
									<input type="checkbox"></input>
								</div>
								<div class="col-xs-8">
									<strong>This Is Another Task</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div>
				<button ng-click="objCtrl.openEditWindow()"
					type="button" class="btn btn-default btn-md">
					Add New Goal
				</button>
			</div>
		</div>

		<div ng-hide="objCtrl.objective.hasTasks()" class="well well-lg">

			<div class="row col-wrap">
				<div class="col-sm-5 col-sm-offset-2">
					You don't have any goals yet!<br /><br />
					Would you like to add one?
				</div>

				<div class="col-sm-2">
					<button ng-click="objCtrl.openEditWindow()"
						type="button" class="btn btn-default btn-md">
						Add Goal
					</button>
				</div>
			</div>

		</div>

	</div>

	<div class="objectives-secondary-column col-xs-12 col-sm-3">
		<div class="gradient-background"></div>
	</div>
</div>